/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

.header {
  margin: 25px 120px 0; }
  .header .logo {
    background: url("./img/logo.png") no-repeat;
    width: 320px;
    height: 75px; }
  .header .main-nav .menu .menu__icon {
    display: none;
    width: 45px;
    height: 35px;
    position: relative;
    cursor: pointer; }
    .header .main-nav .menu .menu__icon span {
      display: block;
      position: absolute;
      height: 5px;
      width: 100%;
      background: #fff;
      border-radius: 4px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out; }
      .header .main-nav .menu .menu__icon span:nth-child(1) {
        top: 0px; }
      .header .main-nav .menu .menu__icon span:nth-child(2) {
        top: 13px; }
      .header .main-nav .menu .menu__icon span:nth-child(3) {
        top: 13px; }
      .header .main-nav .menu .menu__icon span:nth-child(4) {
        top: 26px; }
  .header .main-nav .menu .menu__links .menu__links-item {
    color: #fff;
    font-size: 18px; }
  .header .main-nav .menu .menu__links span {
    font-size: 10px;
    margin: 0 60px;
    color: #fff; }
  .header .main-nav .menu.menu_state_open .menu__icon span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%; }
  .header .main-nav .menu.menu_state_open .menu__icon span:nth-child(2) {
    transform: rotate(45deg); }
  .header .main-nav .menu.menu_state_open .menu__icon span:nth-child(3) {
    transform: rotate(-45deg); }
  .header .main-nav .menu.menu_state_open .menu__icon span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%; }
  .header .main-nav .menu.menu_state_open .menu__links {
    display: block; }

@media only screen and (max-width: 1650px) {
  .header {
    margin: 25px 80px 0; }
    .header .main-nav .menu .menu__links span {
      margin: 0 20px; } }

@media only screen and (max-width: 1100px) {
  .header {
    margin: 25px 10px 0; }
    .header .logo {
      width: 200px;
      height: 75px;
      background-size: contain; }
    .header .main-nav .menu .menu__icon {
      display: inline-block; }
    .header .main-nav .menu .menu__links {
      position: fixed;
      display: none;
      top: 0;
      right: 0;
      left: 0;
      padding-top: 100px;
      background-color: rgba(0, 0, 0, 0.9);
      z-index: 1000;
      overflow: auto;
      height: 100%; }
      .header .main-nav .menu .menu__links .menu__links-item {
        font-size: 26px; }
      .header .main-nav .menu .menu__links span {
        display: none; }
    .header .main-nav .menu .menu__links-item {
      display: block;
      padding: 10px 0;
      text-align: center;
      color: #ffffff; } }

@media only screen and (max-width: 850px) {
  .header .logo {
    width: 120px;
    height: 30px; }
  .header .main-nav .menu .menu__icon {
    width: 35px; } }

@media only screen and (max-width: 650px) {
  .header .logo {
    width: 120px;
    height: 30px; }
  .header .main-nav .menu .menu__icon {
    width: 35px; }
    .header .main-nav .menu .menu__icon span {
      background: #263238; } }

body {
  min-width: 320px; }

.start-section {
  background: transparent url("./img/min-bgimg-top.png") no-repeat;
  height: 1080px;
  position: relative;
  overflow: hidden; }
  .start-section .main-image-block {
    position: absolute;
    background: url("./img/main-img-text.png") no-repeat;
    height: 1000px;
    width: 81%;
    top: -25px;
    right: -100px;
    background-position: -20% 100%;
    background-size: cover; }
  .start-section .text-block {
    display: inline-block;
    font-size: 26px;
    width: 400px;
    font-style: italic;
    line-height: 1.2;
    position: absolute;
    top: 660px;
    left: 118px; }
    .start-section .text-block p {
      color: #37474f; }
  .start-section .social-link-block {
    display: inline-block;
    position: absolute;
    top: 905px;
    left: 118px; }
    .start-section .social-link-block a {
      display: inline-block;
      width: 45px;
      height: 45px;
      margin-right: 30px; }
    .start-section .social-link-block .fb-link {
      background: url("./img/fb.svg") no-repeat; }
    .start-section .social-link-block .twitter-link {
      background: url("./img/tw.svg") no-repeat; }
    .start-section .social-link-block .instagram-link {
      background: url("./img/insta.svg") no-repeat; }
    .start-section .social-link-block .google-link {
      background: url("./img/g+.svg") no-repeat; }
  .start-section .icons .icon {
    position: absolute; }
  .start-section .icons .handshake-icon {
    background: url("./img/handshake.svg") no-repeat;
    width: 120px;
    height: 120px;
    top: 4%;
    left: 26%; }
  .start-section .icons .communication-icon {
    background: url("./img/communication.svg") no-repeat;
    width: 95px;
    height: 95px;
    top: 20%;
    left: 1%; }
  .start-section .icons .think-icon {
    background: url("./img/think.svg") no-repeat;
    width: 95px;
    height: 95px;
    top: 40%;
    left: 29%; }
  .start-section .icons .computer-icon {
    background: url("./img/computer.svg") no-repeat;
    width: 85px;
    height: 85px;
    top: 52%;
    right: 5%; }
  .start-section .icons .conversation-icon {
    background: url("./img/conversation.svg") no-repeat;
    width: 75px;
    height: 75px;
    top: 70%;
    right: 2%; }
  .start-section .icons .key-icon {
    background: url("./img/key.svg") no-repeat;
    width: 95px;
    height: 95px;
    top: 75%;
    right: 44%; }
  .start-section .icons .puzzle-icon {
    background: url("../img/puzzle.svg") no-repeat;
    width: 73px;
    height: 73px;
    top: 80%;
    left: 31%; }
  .start-section .icons .society-icon {
    background: url("./img/society.svg") no-repeat;
    width: 110px;
    height: 110px;
    top: 85%;
    left: -1.5%; }

@media only screen and (max-width: 1400px) {
  .start-section .main-image-block {
    right: 0px; } }

@media only screen and (max-width: 1300px) {
  .start-section .main-image-block {
    width: 92%;
    background-position: -10% 100%; }
  .start-section .text-block {
    font-size: 22px;
    width: 305px; } }

@media only screen and (max-width: 1100px) {
  .start-section .main-image-block {
    width: 100%;
    background-position: 100% 0%;
    background-size: contain; }
  .start-section .icons .icon {
    display: none; }
  .start-section .text-block {
    left: 55px; }
  .start-section .social-link-block {
    left: 55px; } }

@media only screen and (max-width: 650px) {
  .start-section {
    height: 750px; }
    .start-section .main-image-block {
      background-position: 100% 20%; }
    .start-section .text-block {
      left: 25px;
      width: 90%;
      text-align: center;
      top: 550px;
      font-size: 20px; }
    .start-section .social-link-block {
      left: 25px;
      top: 650px; }
      .start-section .social-link-block a {
        width: 25px;
        height: 25px;
        margin-right: 10px; } }

.caption {
  display: inline-block; }
  .caption .strip {
    border-bottom: 2px solid #78909c;
    padding-top: 15px;
    width: 80%; }

h2 {
  color: #78909c;
  font-size: 24px;
  font-weight: 400; }

.big-center-text {
  color: #37474f;
  font-size: 42px;
  max-width: 1100px;
  font-weight: 100; }

.welcome-section {
  margin: 100px 200px 230px 200px; }
  .welcome-section .card-area .welcome-card {
    max-width: 340px;
    margin: 0 20px 30px 20px; }
    .welcome-section .card-area .welcome-card .welcome-card__img {
      height: 160px; }
      .welcome-section .card-area .welcome-card .welcome-card__img .img-circle {
        height: 110px;
        width: 110px;
        border-radius: 50%;
        box-shadow: 0px 10px 29px -9px rgba(0, 0, 0, 0.75); }
    .welcome-section .card-area .welcome-card .welcome-card__caption {
      margin-bottom: 28px; }
      .welcome-section .card-area .welcome-card .welcome-card__caption h3 {
        color: #263238;
        font-size: 26px; }
    .welcome-section .card-area .welcome-card .welcome-card__text p {
      color: #546e7a;
      font-size: 20px; }
  .welcome-section .card-area .welcome-card.flexibility .welcome-card__img {
    background: url("./img/bg-card-blue.png") 50% 50% no-repeat; }
    .welcome-section .card-area .welcome-card.flexibility .welcome-card__img .img-circle {
      background: #fff url("./img/welcome-blue.svg") 50% 50%/60% no-repeat; }
  .welcome-section .card-area .welcome-card.smart .welcome-card__img {
    background: url("./img/bg-card-red.png") 50% 50% no-repeat; }
    .welcome-section .card-area .welcome-card.smart .welcome-card__img .img-circle {
      background: #fff url("./img/welcome-red.svg") 50% 50%/60% no-repeat; }
  .welcome-section .card-area .welcome-card.resolute-approach .welcome-card__img {
    background: url("./img/bg-card-green.png") 50% 50% no-repeat; }
    .welcome-section .card-area .welcome-card.resolute-approach .welcome-card__img .img-circle {
      background: #fff url("./img/welcome-green.svg") 50% 50%/60% no-repeat; }

@media only screen and (min-width: 1800px) {
  .welcome-section .card-area .welcome-card {
    max-width: 420px; } }

@media only screen and (max-width: 1600px) {
  .welcome-section {
    margin: 100px 100px 230px 100px; } }

@media only screen and (max-width: 1400px) {
  .welcome-section {
    margin: 100px 50px 230px 50px; } }

@media only screen and (max-width: 992px) {
  .big-center-text {
    font-size: 32px; }
  .welcome-section {
    margin: 50px 0; } }

@media only screen and (max-width: 576px) {
  .welcome-section .card-area {
    font-size: 32px; }
    .welcome-section .card-area .welcome-card {
      margin: 20px 0; } }

.about-us-section {
  position: relative;
  overflow: hidden; }
  .about-us-section .bg-right-elem {
    background: url("./img/rectangle-bg.png") 50% 50% no-repeat;
    width: 800px;
    height: 800px;
    position: absolute;
    background-size: contain;
    top: 0;
    right: -475px; }
  .about-us-section .about-us-section-content {
    margin: 0px 200px 280px 200px;
    color: #37474f; }
    .about-us-section .about-us-section-content .about-us-text {
      font-size: 22px;
      margin-top: 25px; }
    .about-us-section .about-us-section-content .about-us-image {
      background: url("./img/about-us-img1.png") 50% 50% no-repeat;
      width: 100%;
      height: 560px;
      background-size: contain; }

@media only screen and (max-width: 1600px) {
  .about-us-section .about-us-section-content {
    margin: 0 100px 280px 100px; } }

@media only screen and (max-width: 1400px) {
  .about-us-section .about-us-section-content {
    margin: 0 50px 280px 50px; } }

@media only screen and (max-width: 992px) {
  .about-us-section .about-us-section-content {
    margin: 50px 0 0 0; }
    .about-us-section .about-us-section-content .about-us-image {
      height: 480px; }
    .about-us-section .about-us-section-content .about-us-text {
      font-size: 18px; } }

@media only screen and (max-width: 576px) {
  .about-us-section .about-us-section-content .about-us-image {
    height: 400px; } }

.services-section {
  position: relative;
  overflow: hidden; }
  .services-section .bg-left-elem {
    background: url("./img/rectangle-left-bg.png") 50% 50% no-repeat;
    width: 1300px;
    height: 1000px;
    position: absolute;
    background-size: contain;
    top: 0;
    left: -150px; }
  .services-section .bg-small-figure-elem {
    background: url("./img/small-figure-bg.png") 50% 50% no-repeat;
    width: 2000px;
    height: 2000px;
    position: absolute;
    background-size: contain;
    top: 91px;
    left: -182px; }
  .services-section .services-section-content {
    margin: 0px 200px 230px 200px; }
    .services-section .services-section-content .service-blocks .service-block {
      background-color: #fff;
      max-width: 265px;
      height: 265px;
      border-radius: 10px;
      margin: 20px 0 40px 0;
      position: relative;
      font-size: 22px;
      cursor: pointer;
      color: #37474f;
      box-shadow: 0px 0px 27px -2px rgba(0, 0, 0, 0.2); }
      .services-section .services-section-content .service-blocks .service-block:hover {
        box-shadow: 0px 0px 27px -2px rgba(0, 0, 0, 0.4); }
      .services-section .services-section-content .service-blocks .service-block:active {
        box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.4); }
      .services-section .services-section-content .service-blocks .service-block .service-block__img {
        width: 140px;
        height: 140px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -75%); }
      .services-section .services-section-content .service-blocks .service-block .design-img {
        background: url("./img/bg-design-block.png") 50% 50% no-repeat; }
      .services-section .services-section-content .service-blocks .service-block .mob-apps-img {
        background: url("./img/bg-dev-block.png") 50% 50% no-repeat; }
      .services-section .services-section-content .service-blocks .service-block .web-dev-img {
        background: url("./img/bg-web-dev-block.png") 50% 50% no-repeat; }
      .services-section .services-section-content .service-blocks .service-block .testing-img {
        background: url("./img/bg-testing-block.png") 50% 50% no-repeat; }
      .services-section .services-section-content .service-blocks .service-block .serv-support-img {
        background: url("./img/bg-support-block.png") 50% 50% no-repeat; }
      .services-section .services-section-content .service-blocks .service-block .copywritting-img {
        background: url("./img/bg-copywriting-block.png") 50% 50% no-repeat; }
      .services-section .services-section-content .service-blocks .service-block .service-block__caption {
        text-align: center;
        position: absolute;
        bottom: 35px;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, 0%); }
    .services-section .services-section-content .service-text {
      margin: 200px 0 0 230px; }
      .services-section .services-section-content .service-text .mt-35 {
        margin-top: 35px; }
      .services-section .services-section-content .service-text .dynamic-text {
        font-size: 20px;
        color: #78909c;
        margin-top: 60px; }
  .services-section .services-section-technology {
    margin: 60px 100px 230px 100px; }
    .services-section .services-section-technology .icons-technology {
      margin-top: 60px;
      min-height: 490px;
      width: 1440px;
      box-shadow: 0px 0px 27px -2px rgba(0, 0, 0, 0.2);
      padding: 0 15px;
      border-radius: 20px;
      background-color: #fff; }
      .services-section .services-section-technology .icons-technology .row-icons {
        width: 100%; }
        .services-section .services-section-technology .icons-technology .row-icons .icon-tech {
          width: 120px;
          height: 100px;
          margin: 20px; }
        .services-section .services-section-technology .icons-technology .row-icons .json-img {
          background: url("./img/sprite-tehnology.png") 7px -7px no-repeat; }
        .services-section .services-section-technology .icons-technology .row-icons .docker-img {
          background: url("./img/sprite-tehnology.png") -186px -7px no-repeat; }
        .services-section .services-section-technology .icons-technology .row-icons .ios-img {
          background: url("./img/sprite-tehnology.png") -370px -7px no-repeat; }
        .services-section .services-section-technology .icons-technology .row-icons .aws-img {
          background: url("./img/sprite-tehnology.png") -538px -7px no-repeat; }
        .services-section .services-section-technology .icons-technology .row-icons .mysql-img {
          background: url("./img/sprite-tehnology.png") -697px -7px no-repeat; }
        .services-section .services-section-technology .icons-technology .row-icons .php-img {
          background: url("./img/sprite-tehnology.png") -859px -7px no-repeat; }
        .services-section .services-section-technology .icons-technology .row-icons .nodejs-img {
          background: url("./img/sprite-tehnology.png") -1016px -3px no-repeat; }
        .services-section .services-section-technology .icons-technology .row-icons .bigdata-img {
          background: url("./img/sprite-tehnology.png") -1207px -1px no-repeat; }
        .services-section .services-section-technology .icons-technology .row-icons .objc-img {
          background: url("./img/sprite-tehnology.png") 6px -140px no-repeat; }
        .services-section .services-section-technology .icons-technology .row-icons .java-img {
          background: url("./img/sprite-tehnology.png") -190px -130px no-repeat; }
        .services-section .services-section-technology .icons-technology .row-icons .android-img {
          background: url("./img/sprite-tehnology.png") -371px -129px no-repeat; }
        .services-section .services-section-technology .icons-technology .row-icons .git-img {
          background: url("./img/sprite-tehnology.png") -538px -129px no-repeat; }
        .services-section .services-section-technology .icons-technology .row-icons .sqlite-img {
          background: url("./img/sprite-tehnology.png") -698px -129px no-repeat; }
        .services-section .services-section-technology .icons-technology .row-icons .c-img {
          background: url("./img/sprite-tehnology.png") -861px -129px no-repeat; }
        .services-section .services-section-technology .icons-technology .row-icons .js-img {
          background: url("./img/sprite-tehnology.png") -1019px -129px no-repeat; }
        .services-section .services-section-technology .icons-technology .row-icons .raspberry-img {
          background: url("./img/sprite-tehnology.png") -1207px -129px no-repeat; }
        .services-section .services-section-technology .icons-technology .row-icons .sass-img {
          background: url("./img/sprite-tehnology.png") 9px -272px no-repeat; }
        .services-section .services-section-technology .icons-technology .row-icons .bootstrap-img {
          background: url("./img/sprite-tehnology.png") -186px -272px no-repeat; }
        .services-section .services-section-technology .icons-technology .row-icons .jqwery-img {
          background: url("./img/sprite-tehnology.png") -370px -272px no-repeat; }
        .services-section .services-section-technology .icons-technology .row-icons .laravel-img {
          background: url("./img/sprite-tehnology.png") -538px -272px no-repeat; }
        .services-section .services-section-technology .icons-technology .row-icons .swift-img {
          background: url("./img/sprite-tehnology.png") -702px -272px no-repeat; }
        .services-section .services-section-technology .icons-technology .row-icons .html-img {
          background: url("./img/sprite-tehnology.png") -859px -272px no-repeat; }
        .services-section .services-section-technology .icons-technology .row-icons .css-img {
          background: url("./img/sprite-tehnology.png") -1016px -272px no-repeat; }
        .services-section .services-section-technology .icons-technology .row-icons .postgree-img {
          background: url("./img/sprite-tehnology.png") -1207px -272px no-repeat; }

@media only screen and (max-width: 1800px) {
  .services-section .services-section-content .service-text {
    margin: 200px 0 0 130px; } }

@media only screen and (max-width: 1600px) {
  .services-section .services-section-content {
    margin: 0 100px 230px 100px; }
  .services-section .services-section-technology {
    margin: 0 100px 230px 100px; }
    .services-section .services-section-technology .icons-technology .row-icons .icon-tech {
      margin: 20px 10px; } }

@media only screen and (max-width: 1400px) {
  .services-section .services-section-content,
  .services-section .services-section-technology {
    margin: 0 50px 230px 50px; }
  .services-section .services-section-technology .service-text {
    margin: 200px 0 0 80px; } }

@media only screen and (max-width: 1100px) {
  .services-section .services-section-content .service-text {
    margin: 200px 0 0 50px; } }

@media only screen and (max-width: 992px) {
  .services-section .services-section-content {
    margin: 50px 0; }
    .services-section .services-section-content .service-blocks .service-block {
      margin: 20px; }
    .services-section .services-section-content .service-text {
      margin: 50px 0; }
    .services-section .services-section-content .mob-reverse {
      flex-direction: column-reverse; }
  .services-section .services-section-technology {
    margin: 50px 0; } }

@media only screen and (max-width: 768px) {
  .services-section .services-section-content .service-blocks .service-block {
    max-width: 240px;
    height: 240px;
    font-size: 18px; }
    .services-section .services-section-content .service-blocks .service-block .service-block__caption {
      bottom: 20px; } }

@media only screen and (max-width: 576px) {
  .services-section .services-section-content .service-blocks .service-block {
    max-width: 240px;
    height: 190px;
    font-size: 16px;
    margin: 20px 0; }
    .services-section .services-section-content .service-blocks .service-block .service-block__img {
      top: 57%; }
    .services-section .services-section-content .service-blocks .service-block .service-block__caption {
      bottom: 4px; }
  .services-section .services-section-technology .icons-technology .row-icons .icon-tech {
    margin: 10px 0; } }

.ourProjects-section {
  margin-bottom: 80px; }
  .ourProjects-section .project-slider {
    max-height: 460px; }
    .ourProjects-section .project-slider .slider {
      margin: 100px auto; }
      .ourProjects-section .project-slider .slider .rectangle-bg-slider {
        width: 230px;
        height: 230px;
        background: url("./img/rectangle-slider.png") 50% 50% no-repeat;
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        color: #fff;
        padding-top: 60px;
        font-size: 36px;
        display: inline-block;
        background-size: contain; }
      .ourProjects-section .project-slider .slider a:hover {
        text-decoration: none; }
      .ourProjects-section .project-slider .slider a:active,
      .ourProjects-section .project-slider .slider :focus {
        outline: none;
        border: none; }
    .ourProjects-section .project-slider .slick-dots li {
      opacity: 0.5;
      width: 15px;
      height: 15px;
      background: #2962ff;
      transform: rotate(45deg);
      border-radius: 6px; }
    .ourProjects-section .project-slider .slick-dots li.slick-active {
      opacity: 1 !important;
      background: url("./img/active-dot-slider.png") 50% 50% no-repeat;
      width: 20px;
      height: 20px;
      background-size: contain;
      transform: rotate(0deg); }
    .ourProjects-section .project-slider .slick-dots li button:before {
      content: none; }
    .ourProjects-section .project-slider .slick-slide {
      width: 100%;
      position: relative; }
    .ourProjects-section .project-slider .slick-slide img {
      width: 100%; }
    .ourProjects-section .project-slider .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .1; }
    .ourProjects-section .project-slider .slick-active {
      opacity: .5; }
    .ourProjects-section .project-slider .slick-current {
      opacity: 1; }
    .ourProjects-section .project-slider .slick-dots {
      bottom: -60px; }

@media only screen and (max-width: 1100px) {
  .ourProjects-section .project-slider .slider .rectangle-bg-slider {
    width: 190px;
    height: 190px;
    padding-top: 50px;
    font-size: 34px; } }

@media only screen and (max-width: 992px) {
  .ourProjects-section .project-slider .slider .rectangle-bg-slider {
    width: 150px;
    height: 150px;
    padding-top: 40px;
    font-size: 22px; } }

@media only screen and (max-width: 768px) {
  .ourProjects-section .project-slider .slider {
    margin: 35px auto; } }

.contact-section {
  position: relative;
  overflow: hidden; }
  .contact-section .bg-small-figure-contact {
    background: url("./img/small-figure-bg-contact.png") 50% 50% no-repeat;
    width: 2200px;
    height: 2150px;
    position: absolute;
    background-size: contain;
    top: -735px;
    left: 11px; }
  .contact-section .contact-section-content {
    margin: 230px 200px; }
    .contact-section .contact-section-content .contact-text {
      font-size: 20px;
      color: #546e7a; }
      .contact-section .contact-section-content .contact-text p {
        margin: 40px 0; }
        .contact-section .contact-section-content .contact-text p i {
          width: 33px;
          height: 33px;
          display: inline-block;
          margin-right: 20px; }
        .contact-section .contact-section-content .contact-text p .adress-icon {
          background: url("./img/adress.svg") 50% 50% no-repeat; }
        .contact-section .contact-section-content .contact-text p .tel-icon {
          background: url("./img/telephone.svg") 50% 50% no-repeat; }
        .contact-section .contact-section-content .contact-text p .email-icon {
          background: url("./img/email.svg") 50% 50% no-repeat; }
        .contact-section .contact-section-content .contact-text p a {
          text-decoration: none;
          color: #546e7a; }
  .contact-section .map-area {
    height: 330px;
    width: 100%; }

@media only screen and (max-width: 1600px) {
  .contact-section .contact-section-content {
    margin: 230px 100px; } }

@media only screen and (max-width: 1400px) {
  .contact-section .contact-section-content {
    margin: 230px 50px; } }

@media only screen and (max-width: 1300px) {
  .contact-section .contact-section-content .contact-text {
    font-size: 18px; }
    .contact-section .contact-section-content .contact-text p i {
      margin-right: 10px; } }

@media only screen and (max-width: 1200px) {
  .contact-section .contact-section-content .contact-text {
    font-size: 16px; } }

@media only screen and (max-width: 992px) {
  .contact-section .contact-section-content {
    margin: 50px 0; } }
